@font-face
/* Police des pages */

{
    font-family: "Roboto Regular";
    src: url("/Font/Roboto-Regular.ttf") format("truetype");
}

body
/* Police sur toute la page */

{
    font-family: "Roboto Regular", sans-serif;
    /* background: no-repeat url("/images/MeS-Fond-decran-Organisation-2021-EDBH.jpg"); */
    /* background-size: 1600px 900px; */
}

#Main-Partie-Principale-de-La-Page a {
    text-decoration: none;
}

.Div-Principal {
    display: flex;
}

h1 {
    margin: 15px 0px 15px 0px;
    color: rgb(1, 60, 109);
    font-weight: bold;
}

.FontEcran {
    width: 1583px;
    height: auto;
}

.TitreH1 {
    width: 100%;
    margin: 0px 0px 50px 0px;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(31, 30, 30);
}

.Navigation {
    display: flex;
    justify-content: center;
    width: 400px;
    font-size: 2rem;
}

.Balise-Presentation {
    padding: 0px;
    list-style: none;
}

.Nav-List-Items {
    color: rgb(31, 30, 30);
    width: 250px;
    margin: 10px 0px 10px 0px;
}

.Nav-List-Items a {
    color: rgb(31, 30, 30);
    text-decoration: none;
}

.Nav-List-Items:hover a {
    color: rgb(1, 60, 109);
}

.NavSpanListSelectionne {
    color: rgb(1, 60, 109);
    border: 1px solid rgb(31, 30, 30);
    font-weight: bold;
    padding: 5px;
    background: rgba(230, 230, 230, 0.733);
    box-shadow: 1px 5px;
}

.card-body img {
    filter: grayscale(100%);
    opacity: 0.7;
    width: 200px;
    height: 200px;
    margin: 10px 0px 30px 0px;
}

.card-body img:hover {
    filter: grayscale(0%);
    opacity: 1;
    width: 200px;
    height: 200px;
    margin: 10px 0px 30px 0px;
}

.Logo-Projet {
    display: none;
}

.Logo-Projet:hover {
    display: block
}

.fab.fa-linkedin {
    font-size: 2rem;
    width: 400px;
    text-align: center;
    color: rgb(10, 102, 194);
}

@media screen and (min-width:1090px) and (max-width:1280px)
/* styles pour tablettes*/

{}

@media screen and (min-width:769px) and (max-width:1089px)
/* styles pour tablettes*/

{}

@media screen and (min-width:376px) and (max-width:768px)
/* styles pour mobile paysage*/

{
    .TitreH1 {
        font-size: 1.7rem;
    }
    .Navigation {
        padding: 50px 0px 0px 50px;
        width: 250px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:375px)
/* styles pour mobiles portrait */

{
    .TitreH1 {
        font-size: 1.2rem;
    }
    .Navigation {
        display: flex;
        margin: 25px 0px 0px 10px;
        justify-content: left;
        font-size: 1.5rem;
    }
    .fab.fa-linkedin {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        color: rgb(10, 102, 194);
    }
}