@font-face
/* Police des pages */

    {
    font-family: "Roboto Regular";
    src: url("../Font/Roboto-Regular.ttf") format("truetype");
}

body

/* Police sur toute la page */
    {
    font-family: "Roboto Regular", sans-serif;
}

a {
    color: initial;
}

#AccueilFontEcran {
    height: 889px
}

.AccueilFooterIconsLangages {
    background: #6A9ABE;
}

/* Page Accueil : Class pour mettre en flex les Icons des langages*/

.AccueilFooterIconsLangages {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #6A9ABE;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    box-shadow: 0px 0px 1px 1px black;
    padding: 20px;
    border: 1px solid black;
}

.FooterDivPrincipale {
    display: flex;
    justify-content: space-around;
    padding: 35px
}

.FooterDivSecondaire {
    display: flex;
    justify-content: space-around;
    padding: 35px
}

/* Page Accueil : Class pour mettre un width + height à la Div des icons */

.AccueilDescriptionHTML i,
.AccueilDescriptionCSS i,
.AccueilDescriptionReact i {
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 3rem;
}

.AccueilDescriptionHTML {
    font-family: "Helvetica Neue";
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 150px;
    width: 150px;
    background: #E54D26;
    color: white;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    margin: 5px;
}

.AccueilDescriptionHTML i {
    color: white;
}

.AccueilDescriptionCSS {
    font-family: "Helvetica Neue";
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 150px;
    width: 150px;
    background: #3799D6;
    color: white;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    margin: 5px;
}

.AccueilDescriptionBootStrap {
    display: flex;
    align-items: center;
    height: 150px;
    width: 150px;
    background: white;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    margin: 5px;
}

.AccueilDescriptionBootStrap img {
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: auto;
}

.AccueilDescriptionReact {
    display: flex;
    align-items: center;
    height: 150px;
    width: 150px;
    background: #63DAFC;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    margin: 5px;
}

.AccueilDescriptionNodeJS {
    display: flex;
    align-items: center;
    height: 150px;
    width: 150px;
    background: #81CF01;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    margin: 5px;
}

.AccueilDescriptionNodeJS i {
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    width: 75px;
    height: 75px;
    line-height: 75px;
}

/* Icon Page Accueil */
.AccueilDescriptionJavascript {
    display: flex;
    align-items: center;
    height: 150px;
    width: 150px;
    background: #F0D91F;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    margin: 5px;
}

.AccueilDescriptionJavascript img {
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: auto;
}

.AccueilDescriptionMongodbMysqlSeo {
    display: flex;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: white;
    font-size: 2rem;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    margin: 5px;
}

.AccueilDescriptionMongodbMysqlSeo img {
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: auto;
}

.AccueilDescriptionExpress {
    display: flex;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: white;
    font-size: 2rem;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    margin: 5px;
}

.AccueilDescriptionExpress img {
    margin-left: auto;
    margin-right: auto;
    width: 135px;
    height: auto;
}

.FontEcranAccueil {
    background-color: #cccccc;
    height: 988px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#FontEcranAccueilTexte {
    font-family: Helvetica Neue;
    margin: 100px 0px 0px 0px;
    padding: 5px;
    font-size: 2.5rem;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#AccueilContactEmailGitHubLinkedin {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 340px;
    margin: -36px 0px 0px -170px;
}

#AccueilContactEmailGitHubLinkedin i {
    color: black;
}

.fab,
.fas {
    font-size: 3rem;
}

#AccueilContactEmailGitHubLinkedin i:hover {
    background: #0a58ca;
    box-shadow: 1px 1px 3px 3px #022847;
    color: white;
}

#AccueilContactEmailGitHubLinkedin a {
    text-decoration: none;
}

.DescriptionLienIcon {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.MainFormations {
    padding: 1px 0px 0px 0px;
    background: beige;
}

/* Main Partie Principale sur toutes les pages du site */
#MainPartiePrincipaledeLaPageProjet {
    padding: 50px 0px 0px 0px;
    background: #64839b;
}

#MainPartiePrincipaledeLaPageProjet a {
    text-decoration: none;
}

header {
    color: black;
    background: #6A9ABE;
    box-shadow: 0px 0px 1px 1px black;
    border: 1px solid black;
}


/* Div principal pour pouvoir mettre la Navigation et la card container cote à cote en flex.  */
.card {
    background: none;
    border: none;
}

.card-body {
    margin: 25px 0px;
    box-shadow: 0px 0px 1px 1px black;
    border: 1px solid black;
    padding: 0px;
}

.Div-Principal {
    display: flex;
}


/* Class section de toutes les pages sauf page Projet.  */

.Section-Principal {
    margin: 0px;
}

/* Titre Principal h1 de toutes les pages */

.TitreH1-Toute-Page {
    font-family: Helvetica Neue;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    color: black;
    background: #6A9ABE;
}

/* Class de la Nav de toutes les pages */

.Navigation-Desktop {
    font-size: 2rem;
}


/* Nav bouton mobile java script  de toutes les pages */

.Navigation-Mobile {
    display: none;
    background-color: #333;
}

.Navigation-Mobile a,
.Navigation-Mobile .icon {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    font-size: 17px;
}

.Navigation-Mobile a:hover,
.Navigation-Mobile .icon:hover {
    background-color: #ddd;
    color: black;
}

.Navigation-Mobile a.active {
    background-color: #04AA6D;
    color: white;
}

.Navigation-Mobile .icon {
    display: none;
}


/* Class de la balise Ul dans la navigation */

.Balise-Presentation {
    width: 100%;
    display: flex;
    padding: 0px;
    list-style: none;
    justify-content: space-evenly;
}


/* Class des Li dans la navigation */

.Nav-List-Items {
    color: black;
    margin: 10px 10px;
    text-align: center;
}


/* Class des liens dans les Li dans la navigation ( Les liens de toutes les pages ) */

.Nav-List-Items a {
    color: black;
    text-decoration: none;
}


/* Class des liens dans les Li dans la navigation avec une couleur au hover ( Les liens de toutes les pages ) */

.Nav-List-Items:hover a {
    color: rgb(1, 60, 109);
}


/* Toutes les pages -> Span pour afficher la page selectionné et la rendre plus voyante et esthétique. Pour bien montrer que l'on est bien situé sur la page selectionné */

.NavListSelectionne {
    color: rgb(1, 60, 109);
    border: 1px solid black;
    font-weight: bold;
    padding: 5px;
    background: rgba(230, 230, 230, 0.733);
    box-shadow: 1px 5px;
}

/* L' Id carousels de la page Formation */

#CertificationPDF {
    position: relative;
}

.galeriePresentationCertification {
    position: relative;
    width: 1132px;
    height: 807px;
    overflow: hidden;
    margin: 20px auto;
}

.galeriePresentationCertification img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    cursor: zoom-in;
}

.DivTitreCertification a {
    color: black;
    text-decoration: none;
    width: 50%;
}

.Div-Formation-Implantation {
    margin: 0px 0px 0px 50px;
}

.Div-Formation-Implantation h3 {
    font-weight: bold;
    color: black;
    font-family: Helvetica Neue;
}

.H2-Formation {
    font-family: Helvetica Neue;
    font-size: 1.8rem;
    margin: 0px auto;
    width: 80%;
    color: black;
    background: #4788fb85;
    box-shadow: 0px 0px 3px 3px black;
    border: 1px solid black;
}

.H3-Formation {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.DivTitreCertification h3 {
    text-align: center;
    width: 575px;
    margin: 0px auto;
    padding: 5px;
    font-family: Helvetica Neue;
    color: black;
}

.DivTitreCertification h3:hover {
    background: rgb(10, 102, 194);
    box-shadow: 1px 1px 3px 3px #022847;
    color: white;
}

.CacheIllustrationFormations {
    Display: none;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    text-decoration: none;
}

.carousel-control-prev-icon {
    width: 64px;
    height: 64px;
    background-color: #134862;
}

.carousel-control-next-icon {
    width: 64px;
    height: 64px;
    background-color: #134862;
}

.carousel-indicators {
    margin: 0px;
}

.carousel-indicators li {
    background-color: black;
    height: 10px;
    width: 80px;
}

.carousel-indicators li:hover {
    background-color: #134862;
    opacity: 1;
}

.carousel-inner embed {
    width: 100%;
    height: 100%;
}

.H2-Competence-Technique {
    font-family: Helvetica Neue;
    font-size: 2.5rem;
    margin: 0px auto;
    width: 80%;
    color: black;
    background: #4788fb85;
    box-shadow: 0px 0px 3px 3px black;
    border: 1px solid black;
}

#bouttonLogoPeinture img {
    width: 333px;
}

.Projet1,
.Projet2,
.Projet3,
.Projet4,
.Projet5,
.Projet6,
.Projet7 {
    margin: 50px 0px;
    padding: 5px;
    position: relative;
}

.EnleverPuceLi {
    list-style: none;
}

/*  Page --> Main compétence Class pour les compétences en display flex ( cote à cote ) */

.Competences h2 {
    font-size: 1.5rem;
    box-shadow: 1px 1px 9px 4px black;
    background: white;
    font-family: Helvetica Neue;
}

#MainCompetence .Projet-Titre {
    position: absolute;
    top: -40px;
    left: 4px;
    width: 99%;
    margin: 1px 0px;
    text-align: center;
    box-shadow: 1px 1px 3px 3px black;
    font-size: 2rem;
    color: black;
}

.Competences-Generales h2 {
    width: 100%;
    margin: 0px 0px 50px 0px;
    font-size: 2rem;
    text-align: center;
    color: black;
    background: #4788fb85;
    box-shadow: 0px 0px 1px 3px black;
    border: 1px solid black;
}

.Competences a {
    text-decoration: none;
    color: black;
}

.Balise-Presentation li,
.Competences li {
    padding: 10px 0px 20px 0px;
    color: black;
}

li {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

#Reservia,
#Ohmyfood,
#LaChouetteAgence,
#LaChouetteAgenceCorrectif,
#Feedly,
#Orinoco,
#SaucePiiquante,
#Groupomania,
#Peinture {
    margin: 50px auto;
}

.Eye {
    font-size: 3rem;
    color: black;
    margin: 33px;
}

.Eye i:hover {
    background: white;
    box-shadow: 0px 0px 2px 2px #022847;
    color: black;
}

.ProjetsProjet1 {
    font-size: 1.3rem;
    background: #1351AE;
    box-shadow: 0px 0px 1px 3px black;
    padding: 5px;
}

.ProjetsProjet2 {
    font-size: 1.3rem;
    background: #0065FC;
    box-shadow: 0px 0px 1px 3px black;
    padding: 5px;
}

.ProjetsProjet3 {
    font-size: 1.3rem;
    background: #b35200;
    box-shadow: 0px 0px 1px 3px black;
    padding: 5px;
}

.ProjetsProjet4 {
    font-size: 1.3rem;
    background: #7A5000;
    box-shadow: 0px 0px 1px 3px black;
    padding: 5px;
}

.ProjetsProjet5 {
    font-size: 1.3rem;
    background: #975FE8;
    box-shadow: 0px 0px 1px 3px black;
    padding: 5px;
}

.ProjetsProjet6 {
    font-size: 1.3rem;
    background: #008f85;
    box-shadow: 0px 0px 1px 3px black;
    padding: 5px;
}

.ProjetsProjet7 {
    font-size: 1.3rem;
    background: #707274;
    box-shadow: 0px 0px 1px 3px black;
    padding: 5px;
}

.ProjetsProjet8 {
    font-size: 1.3rem;
    background: url(../Font/ors.webp);
    box-shadow: 0px 0px 1px 3px black;
    font-weight: bold;
    color: black;
    padding: 5px;
}

.Projet1 {
    background: #0065FC;
    box-shadow: 0px 0px 10px 10px black;
    min-width: 625px;
}

.Projet2 {
    background: cornflowerblue;
    box-shadow: 0px 0px 10px 10px black;
    min-width: 625px;
}

.Projet3 {
    background: #b35200;
    box-shadow: 0px 0px 10px 10px black;
    min-width: 663px;
}

.Projet4 {
    background: #cc8706;
    box-shadow: 0px 0px 10px 10px black;
    min-width: 783px;
}

.Projet5 {
    background: #975FE8;
    box-shadow: 0px 0px 10px 10px black;
    min-width: 505px;
}

.Projet6 {
    background: #008f85;
    box-shadow: 0px 0px 10px 10px black;
    min-width: 805px;
}

.Projet7 {
    background: #707274;
    box-shadow: 0px 0px 10px 10px black;
    min-width: 510px;
}

/* Class Paragraphe pour les balises "p" qui donnent la description des sites présentés et les thème principaux 
 des images screenshots avec une couleur bleu et un style bold*/

.Texte {
    color: white;
    font-family: Helvetica Neue;
}

.italic {
    font-weight: bold;
    font-style: italic;
    font-family: "Raleway";
    font-size: 1.5rem;
}

#divLienProjetOrinoco a :hover {
    color: rgb(6, 37, 95);
}

/* Page Projets : Class pour mettre en flex les Icons des langages*/

.Description-Icon {
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    line-height: 32px;
}

.Description-Mangoose {
    margin: 20px 0px;
    color: #800;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 52px;
    background: white;
}

.Description-Icon-Animation-SEO {
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    line-height: 32px;
}

.Description-Icon-Animation-SEO img {
    width: auto;
}

.GitHubProjet {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    padding: 5px;
    line-height: 32px;
    width: 150px;
    margin: 0px;
}

.GitHubProjet a:hover {
    color: black;
}

/* Page Projets : Class pour mettre l'icon GitHub à la même dimension que les autres Icons langages*/

.GitHubProjet i {
    filter: grayscale(0%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}

.GitHubProjet:hover i {
    background: linear-gradient(to left, #000, #07aaaa 50%, #173d79 75%);
}


/* Page Projets : Class pour mettre en flex les Icons des langages*/

.Icons-Langages {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
}


/* Page Projets : Class pour mettre un font size aux Icons des langages*/

.Icons-Langages img {
    width: 50px;
    height: auto;
    margin: 0px auto;
}

/* Id des boutons des images de tous les projets avec un Grayscale (Noir et blanc 100% ) ---> Page projet*/
#LienFeedly img {
    filter: grayscale(100%);
    opacity: 0.5;
    height: auto;
    padding: 20px;
}

#bouttonLogoReservia img,
#bouttonLogoLaChouetteAgence img,
#bouttonLogoPageCorrectifLaChouetteAgence img,
#bouttonLogoGroupomania img,
#bouttonLogoOrinoco img,
#bouttonLogoPiiquante img,
#bouttonLogoPeinture img {
    filter: grayscale(100%);
    opacity: 0.5;
}

#bouttonLogoLaChouetteAgence img,
#bouttonLogoPageCorrectifLaChouetteAgence img,
#bouttonLogoGroupomania img,
#bouttonLogoOrinoco img,
#bouttonLogoPiiquante img,
#bouttonLogoPeinture img {
    border: 1px solid black;
}

#bouttonLogoOhmyfood img {
    filter: grayscale(100%);
    opacity: 0.5;
    margin: 50px 0px 0px 0px;
}

#bouttonLogoOrinoco img {
    width: 374px;
    height: auto;
}


/* Id des boutons des images de tous les projets avec un hover à 0 % Grayscale ( couleur 100 % ) ---> Page projet*/

#bouttonLogoReservia img:hover,
#bouttonLogoOhmyfood img:hover,
#bouttonLogoLaChouetteAgence img:hover,
#bouttonLogoPageCorrectifLaChouetteAgence img:hover,
#bouttonLogoOrinoco img:hover,
#bouttonLogoGroupomania img:hover,
#bouttonLogoPiiquante img:hover,
#bouttonLogoPeinture img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

#LienFeedly img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

/* H2 Titre de tous les projets  ---> Page projet */

h2 {
    font-weight: bold;
}


/* H3 Titre de tous les langages utilisés pour les projets  ---> Page projet */

.bold-Langages {
    color: black;
    font-weight: bold;
    margin: 50px 0px 0px 0px;
}


/* Id de tous les Bouttons des projets --> Page projet  */

#bouttonLogoReservia,
#bouttonLogoOhmyfood,
#bouttonLogoLaChouetteAgence,
#bouttonLogoPageCorrectifLaChouetteAgence,
#bouttonLogoOrinoco,
#bouttonLogoGroupomania,
#bouttonLogoPiiquante,
#bouttonLogoPeinture {
    background: transparent;
    border: none;
    margin: 50px auto;
}


/* Id de tous les liens des projets pour mettre le display qui correspond à l'affichage souhaité en java-Script --> Page projet */
.H2PrincipaleProjet {
    font-family: Helvetica Neue;
    font-size: 1.8rem;
    margin: 0px auto;
    width: 80%;
    color: black;
    background: #4788fb85;
    box-shadow: 0px 0px 3px 3px black;
    border: 1px solid black;
}

#divLienProjetReservia,
#divLienProjetOhmyfood,
#divLienProjetLaChouetteAgence,
#divLienProjetPageCorrectifLaChouetteAgence,
#divLienProjetOrinoco,
#divLienProjetPiiquante,
#divLienProjetGroupomania,
#divLienProjetPeinture {
    display: none;
    margin: 10px 0px 30px 0px;
}

.H1Apropos {
    font-family: Helvetica Neue;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    color: black;
    margin: 0px;
    padding: 50px 0px;
}

/* Class des Span qui entourent les images ScreenShots des projets pour pouvoir modifier la taille des screenshots*/

.Image-Lien-Projet img {
    width: 100%;
    padding: 50px;
}


/* Page ->> A-Propos  Article-Presentation */
.MainApropos {
    background-image: url("../Font/light-blue-waves.webp");
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 50px 0px;
}

.Page-A-Propos-Article-Presentation {
    display: flex;
    width: 90%;
    margin: 0px auto 10px auto;
}

.DivArticle {
    color: black;
}

.AdresseEmail-Telephone,
.GitHub-Linkedin {
    display: flex;
    width: 50%;
}

/* Toutes pages Footer */

footer {
    display: flex;
    width: 100%;
    margin: 0px 0px 5px 0px;
    font-size: 2.5rem;
    text-align: center;
    color: black;
    background: radial-gradient(white 87%, #000b1e);
    box-shadow: 0px 0px 1px 1px black;
    padding: 20px;
    border: 1px solid black;
}

footer a {
    text-decoration: none;
}

/* Toutes pages -> Footer pour mettre en gras les descriptions des Icons. Email-Téléphone- Linkdin */

.bold {
    font-weight: bold;
    color: black;
}

.Adresse-Email,
.Telephone {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.Adresse-Email a {
    color: black;
}

.Adresse-Email i {
    line-height: 48px;
    width: 48px;
    height: 48px;
    margin: 10px 0px;
    font-size: 2rem;
}

.Adresse-Email :hover i {
    background: rgb(10, 102, 194);
    box-shadow: 0px 0px 2px 2px #022847;
    color: white;
}

.Telephone i {
    line-height: 48px;
    width: 48px;
    height: 48px;
    filter: grayscale(0%);
    margin: 10px 0px;
    font-size: 2rem;
}

.Telephone :hover i {
    margin: 10px 0px;
    background: rgb(10, 102, 194);
    box-shadow: 0px 0px 2px 2px #022847;
    color: white;
}

.GitHub {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.GitHub i {
    filter: grayscale(0%);
    margin: 10px 0px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    font-size: 2rem;
    color: white;
    background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}

.GitHub :hover i {
    background: rgb(10, 102, 194);
    box-shadow: 0px 0px 2px 2px #022847;
}

.Linkedin {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.Linkedin i {
    filter: grayscale(0%);
    margin: 10px 0px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    font-size: 2rem;
    color: black;
}

.Linkedin :hover i {
    background: rgb(10, 102, 194);
    box-shadow: 0px 0px 2px 2px #022847;
    color: white;
}

.Image-Moi-A-Propos {
    text-align: left;
}

.Image-Moi-A-Propos img {
    width: 250px;
    height: auto;
    margin: 0px 50px 0px 0px;
    border: 1px solid black;
    box-shadow: 0px 0px 3px 3px black;
}

@media screen and (min-width: 1090px) and (max-width: 1280px)
/* styles pour tablettes*/

    {
    #AccueilFontEcran {
        height: 720px
    }

    .Navigation-Mobile {
        display: none;
    }

    /* Id des boutons des images de tous les projets avec un Grayscale (Noir et blanc 100% ) ---> Page projet*/
    #bouttonLogoReservia img,
    #bouttonLogoOhmyfood img,
    #bouttonLogoLaChouetteAgence img,
    #bouttonLogoPageCorrectifLaChouetteAgence img,
    #bouttonLogoGroupomania img,
    #bouttonLogoOrinoco img,
    #bouttonLogoPiiquante img,
    #bouttonLogoPeinture img {
        width: 200px;
    }

    #bouttonLogoOhmyfood img {
        width: 200px;
        margin: 20px 0px 0px 0px;
    }

    .galeriePresentationCertification {
        width: 916px;
        height: 652px;
    }
}

@media screen and (min-width:769px) and (max-width:1089px) {

    #AccueilFontEcran {
        height: 613px
    }

    #AccueilContactEmailGitHubLinkedin {
        font-size: 2rem;
        margin: -24px 0px 0px -170px;
    }

    /* styles pour tablettes*/
    #FontEcranAccueilTexte {
        font-size: 2.2rem;
    }

    .FooterDivPrincipale {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5px;
        margin: 0px auto;
    }

    .FooterDivSecondaire {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5px;
        margin: 0px auto;
    }

    .Navigation-Desktop {
        font-size: 1.5rem;
    }

    /* Class des Li dans la navigation */
    .Nav-List-Items {
        color: black;
        margin: 10px 1px;
        text-align: center;
    }

    .Navigation-Mobile {
        display: none;
    }

    #LienFeedly img {
        width: 375px;
        height: auto;
    }

    /* Page ->> projet Id des boutons des images de tous les projets avec un Grayscale (Noir et blanc 100% )*/
    #bouttonLogoReservia img,
    #bouttonLogoOhmyfood img,
    #bouttonLogoGroupomania img,
    #bouttonLogoOrinoco img,
    #bouttonLogoPiiquante img,
    #bouttonLogoPeinture img {
        filter: grayscale(100%);
        opacity: 0.5;
        width: 200px;
    }

    #bouttonLogoLaChouetteAgence img,
    #bouttonLogoPageCorrectifLaChouetteAgence img {
        filter: grayscale(100%);
        opacity: 0.5;
        width: initial;
    }

    #bouttonLogoOhmyfood img {
        width: 200px;
        margin: 20px 0px 0px 0px;
    }

    .galeriePresentationCertification {
        width: 779px;
        height: 555px;
    }

    /*  Page --> Main compétence Class pour les compétences en display flex ( cote à cote ) */
    .Competences h2 {
        font-size: 1.2rem;
        box-shadow: 1px 1px 9px 4px black;
    }

    .Projet1 {
        min-width: 625px;
    }

    .Projet2 {
        min-width: 625px;
    }

    .Projet3 {
        min-width: 670px;
    }

    .Projet4 {
        min-width: 625px;
    }

    .Projet5 {
        min-width: 505px;
    }

    .Projet6 {
        min-width: 645px;
    }

    .Projet7 {
        min-width: 510px;
    }

    /* Page Projets : Class pour mettre en flex les Icons des langages*/
    .Icons-Langages {
        margin: 20px auto;
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        flex-wrap: wrap;
    }

    .Adresse-Email,
    .Telephone {
        font-size: 1.2rem;
    }

    .Linkedin {
        font-size: 1.2rem;
    }

    footer {
        display: flex;
        width: 100%;
        box-shadow: inset 0px 0px 1px 1px #084775;
    }
}

@media screen and (min-width:376px) and (max-width:768px)
/* styles pour mobile paysage*/

    {
    #AccueilFontEcran {
        height: 432px
    }

    #AccueilContactEmailGitHubLinkedin {
        font-size: 2rem;
        width: 265px;
        margin: -24px 0px 0px -132px;
    }

    #FontEcranAccueilTexte {
        font-size: 1.5rem;
        margin: 65px 0px 0px 0px;
        width: 300px;
    }

    .FooterDivPrincipale {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px;
    }

    .FooterDivSecondaire {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px;
    }

    .AccueilDescriptionHTML,
    .AccueilDescriptionCSS,
    .AccueilDescriptionJavascript,
    .AccueilDescriptionBootStrap,
    .AccueilDescriptionReact,
    .AccueilDescriptionExpress,
    .AccueilDescriptionNodeJS,
    .AccueilDescriptionMongodbMysqlSeo {
        margin: 33px;
    }

    .TitreH1-Toute-Page {
        font-size: 1.5rem;
        margin: 0px;
        padding: 15px;
    }

    h2 {
        font-size: 1.2rem;
    }

    .H2-Competence-Technique {
        font-size: 1.2rem;
        width: 100%;
    }

    .NavListSelectionne {
        font-size: 1rem;
        margin: 0px 0px 5px 0px;
        text-align: center;
        padding: 13px;
    }

    .Div-Navigation-Desktop {
        display: none;
    }

    .Navigation-Mobile {
        display: block;
        padding: 0px 0px 25px 0px;
    }

    .Navigation-Mobile a,
    .Navigation-Mobile .icon {
        font-size: 1rem;
        display: none;
    }

    .Navigation-Mobile .icon {
        display: block;
        padding: 10px;
    }

    .Navigation-Mobile.responsive {
        position: relative;
    }

    .Navigation-Mobile.responsive .icon {
        position: initial;
        width: 52px;
    }

    .Navigation-Mobile.responsive a,
    .Navigation-Mobile.responsive span {
        float: none;
        display: block;
        text-align: center;
        padding: 14px;
    }

    .Div-Principal {
        display: flex;
        flex-direction: column;
    }

    .TitreH1 {
        font-size: 1.7rem;
    }

    .Navigation {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1.5rem;
    }

    /* Page Projets : Class pour mettre en flex les Icons des langages*/
    .Icons-Langages {
        margin: 20px auto;
        display: flex;
        justify-content: space-evenly;
        width: 63%;
        flex-wrap: wrap;
    }

    #LienFeedly img {
        width: 230px;
        height: auto;
    }

    /* ->> Page projet Id des boutons des images de tous les projets avec un Grayscale (Noir et blanc 100% ) */
    #bouttonLogoReservia img,
    #bouttonLogoOhmyfood img,
    #bouttonLogoLaChouetteAgence img,
    #bouttonLogoPageCorrectifLaChouetteAgence img,
    #bouttonLogoGroupomania img,
    #bouttonLogoOrinoco img,
    #bouttonLogoPiiquante img,
    #bouttonLogoPeinture img {
        width: 140px;
    }

    #bouttonLogoOhmyfood img {
        width: 140px;
        margin: 10px 0px 0px 0px;
    }

    .H2-Formation {
        font-size: 1.5rem;
    }

    .Div-Formation-Implantation {
        margin: 0px 0px 0px 20px;
    }

    .Div-Formation-Implantation h3 {
        font-size: 1.25rem;
    }

    li {
        font-size: 1rem;
        font-weight: bold;
        color: black;
    }

    .DivTitreCertification h3 {
        width: 333px;
        color: black;
        font-size: 1.25rem;
    }

    .galeriePresentationCertification {
        width: 330px;
        height: 392px;
    }

    /*  Page --> Main compétence Class pour les compétences en display flex ( cote à cote ) */
    .Competences h2 {
        font-size: 1rem;
        box-shadow: 1px 1px 9px 4px black;
        text-align: center;
    }

    .Projet1,
    .Projet2,
    .Projet3,
    .Projet4,
    .Projet5,
    .Projet6,
    .Projet7 {
        min-width: initial;
    }

    .H1Apropos {
        font-size: 1.7rem;
    }

    .Image-Moi-A-Propos {
        text-align: center;
    }

    .Page-A-Propos-Article-Presentation {
        display: initial;
        text-align: justify;
    }

    .DivArticle {
        width: 80%;
        color: black;
        margin: 0px auto;
    }

    .Adresse-Email,
    .Telephone {
        font-size: 0.9rem;
    }

    .GitHub {
        font-size: 0.9rem;
    }

    .Linkedin {
        font-size: 0.9rem;
    }

    .Image-Moi-A-Propos img {
        width: 180px;
        height: auto;
        margin: 0px;
    }

    .AdresseEmail-Telephone,
    .GitHub-Linkedin {
        width: 100%;
        padding: 25px;
    }

    footer {
        flex-direction: column;
    }
}

@media screen and (max-width:375px)
/* styles pour mobiles portrait */

    {
    #AccueilFontEcran {
        height: 211px;
    }

    #AccueilContactEmailGitHubLinkedin {
        margin: -20px 0px 0px -55px;
        font-size: 1rem;
        width: 165px;
        top: 50%;
        left: 43%;
    }

    #FontEcranAccueilTexte {
        font-size: 1rem;
        margin: 46px 0px 0px 0px;
        width: 150px;
    }

    .FooterDivPrincipale {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px;
    }

    .FooterDivSecondaire {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px;
    }

    .AccueilDescriptionHTML,
    .AccueilDescriptionCSS,
    .AccueilDescriptionJavascript,
    .AccueilDescriptionBootStrap,
    .AccueilDescriptionReact,
    .AccueilDescriptionExpress,
    .AccueilDescriptionNodeJS,
    .AccueilDescriptionMongodbMysqlSeo {
        margin: 33px;
    }

    .TitreH1-Toute-Page {
        font-size: 1rem;
        margin: 20px 0px;
    }

    h2 {
        font-size: 1rem;
    }

    .H2-Competence-Technique {
        font-size: 1rem;
        width: 100%;
    }

    .Div-Navigation-Desktop {
        display: none;
    }

    .Navigation-Mobile {
        display: block;
        padding: 0px 0px 25px 0px;
    }

    .Navigation-Mobile a {
        display: none;
        font-size: 0.8rem;
    }

    .Navigation-Mobile .icon {
        display: block;
        padding: 0px;
        height: 48px;
        line-height: 48px;
    }

    .Navigation-Mobile.responsive {
        position: relative;
    }

    .Navigation-Mobile.responsive .icon {
        position: initial;
        width: 48px;
        height: 48px;
        line-height: 48px;
        margin: 10px 0px 0px 10px
    }

    .Navigation-Mobile.responsive a {
        float: none;
        display: block;
        text-align: center;
        padding: 0px;
        height: 48px;
        line-height: 48px;
    }

    .Div-Principal {
        display: flex;
        flex-direction: column;
    }

    /* Titre h1  */
    .TitreH1 {
        font-size: 1.2rem;
    }

    .Navigation {
        display: flex;
        width: 100%;
        margin-left: 0px;
        font-size: 1.5rem;
        flex-direction: column;
    }

    .NavListSelectionne {
        font-size: 0.8rem;
        margin: 0px 0px 5px 0px;
        text-align: center;
        height: 48px;
        line-height: 48px;
    }

    .Page-A-Propos-Article-Presentation {
        width: 80%;
        margin: 20px auto;
        text-align: justify;
    }

    .fab,
    .fas {
        font-size: 1.5rem;
    }

    /* Page Projets : Class pour mettre en flex les Icons des langages*/
    .Icons-Langages {
        margin: 20px auto;
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        flex-wrap: wrap;
    }

    #LienFeedly img {
        width: 150px;
        height: auto;
    }

    /* ->> Page projet Id des boutons des images de tous les projets avec un Grayscale (Noir et blanc 100% ) */
    #bouttonLogoReservia img,
    #bouttonLogoOhmyfood img,
    #bouttonLogoLaChouetteAgence img,
    #bouttonLogoPageCorrectifLaChouetteAgence img,
    #bouttonLogoGroupomania img,
    #bouttonLogoOrinoco img,
    #bouttonLogoPiiquante img,
    #bouttonLogoPeinture img {
        width: 140px;
    }

    #bouttonLogoOhmyfood img {
        width: 140px;
        margin: 10px 0px 0px 0px;
    }

    .H2-Formation {
        font-size: 1.5rem;
    }

    .Div-Formation-Implantation {
        margin: 0px 3px;
    }

    .Div-Formation-Implantation h3 {
        font-size: 0.9rem;
    }

    li {
        font-size: 0.8rem;
        font-weight: bold;
        color: black;
    }

    .DivTitreCertification h3 {
        width: 170px;
        font-size: 0.9rem;
    }

    .galeriePresentationCertification {
        width: 200px;
        height: 192px;
    }

    /*  Page --> Main compétence Class pour les compétences en display flex ( cote à cote ) */
    .Competences h2 {
        font-size: 1rem;
        text-align: center;
    }

    .Projet1,
    .Projet2,
    .Projet3,
    .Projet4,
    .Projet5,
    .Projet6,
    .Projet7 {
        min-width: initial;
    }

    .H1Apropos {
        font-size: 1.1rem;
    }

    .Image-Moi-A-Propos {
        text-align: center;
    }

    .Page-A-Propos-Article-Presentation {
        display: initial;
        text-align: justify;
    }

    .DivArticle {
        width: 90%;
        color: black;
        margin: 0px auto;
    }

    .AdresseEmail-Telephone,
    .GitHub-Linkedin {
        width: 100%;
        flex-direction: column;
    }

    .Adresse-Email,
    .Telephone {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }

    .GitHub {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .Linkedin {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .Image-Moi-A-Propos img {
        width: 180px;
        height: auto;
        margin: 0px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}